* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

/* START: CSS Variables */
:root {
    --white: #ffffff;
    --blue: #ebf5fb;
    --darkBlue: #111e49;
    --green: #4caf50;
    --lightGrey: #e8e8e8;
    --mustard: #ffc439;
}

/* END: CSS Variables */

/* START: Product and Details */
.product-details{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.product-details-images{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.product-details-images .main-image img{
    width: 430px;
    height: 257px;
}

.product-details-images .thumbnail-images img{
    width: 60px;
    height: 60px;
}

.product-details-info{
    width: 40%;
    padding: 20px;
    background-color: var(--blue);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
}

.product-details-info-price{
    color: var(--darkBlue);
    margin-top: 20px;
}
.product-details-info-instock{
    color: var(--green);
    margin-top: 20px;
}

.product-details-info-price p del{
    color: grey;
}

.product-details-info-form, .product-details-info-select{
    margin-top: 20px;
    font-size: small;
}

.product-details-info-select{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.product-discount{
    margin-top: 20px;
    background-color: var(--darkBlue);
    color: var(--white);
    text-align: center;
    padding: 5px 0;
}

.number-and-btns{
    margin-top: 20px;
    padding: 5px;
    background-color: var(--darkBlue);
    display: flex;
    gap: 2rem;
    width: fit-content;
}

.basket-btn{
    border: none;
    background-color: var(--darkBlue);
    color: var(--white);
    font-weight: 900;
    padding: 0 5px;
}

.basket-btn:hover{
    background-color: #0a1331;
}

.buy-btn{
    margin-top: 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    background-color: var(--darkBlue);
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
}

.buy-btn:hover {
    color: black;
    background-color: var(--white);
}

.flex-btn-box{
    display: flex;
    gap: 3rem;
}

.total-value{
    padding: 20px 0;
}

.number span {cursor:pointer; }
.minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.number input{
    height:34px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;}
    
.paypal-btn{
    margin-top: 20px;
    background-color: var(--mustard);
    color: var(--white);
    text-align: center;
    padding: 5px 0;
}

.paypal-btn a{
    text-decoration: none;
}
/* END: Product and Details */

/* START: click-product-sections */
.click-product-sections{
    margin-top: 20px;
}

.click-section-btns{
    display: flex;
    justify-content: center;
}

.click-section-btns button{
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}

.click-product-sections section {
    display: none;
}

.click-product-sections{
    padding: 0 30px;
}

.click-product-sections section{
    margin: 20px;
}

.additional-infodiv{
    width: 400px;
    display: flex;
    justify-content: space-between;
}


.my-reviews {
    margin-top: 20px;
}

.my-review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.reviewer-name {
    font-weight: bold;
}

.review-date {
    color: #888;
}

.review-text {
    margin-top: 5px;
    color: #333;
}

.rating-section {
    margin-top: 20px;
}

.stars {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-bottom: 10px;
}

.add-review-button {
    background-color: var(--darkBlue);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.review-form {
    display: none;
    margin-top: 20px;
}

.review-form label {
    display: block;
    margin-bottom: 8px;
}

.review-form textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 16px;
}

.review-form button {
    background-color: var(--darkBlue);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;}

/* END: click-product-sections */

/* START: Media Querie */
@media (max-width: 1020px){
    .product-details{
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .product-details-info{
        width: 90%;
    }

    .product-details-images{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .product-details-images .main-image img{
        width: 100%;
        height: 257px;
    }
    
    .product-details-images .thumbnail-images img{
        width: 60px;
        height: 60px;
    }

    @media (max-width: 675px){
        .click-section-btns button{
            font-size: small;
        }
    }

    @media (max-width: 487px){
        .additional-infodiv{
            width: 100%;
        }

        .minus, .plus{
            width:10px;
            height:10px;
        }
        .number input{
            height:23px;
            width: 35px;
            }
    }

    @media (max-width: 399px){
        .click-product-sections{
            font-size: small;
        }

        .minus, .plus{
            width:5px;
            height:5px;
        }
        .number input{
            height:15px;
            width: 23px;
            }
    }
}
/* END: Media Querie */