* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

/* START: CSS Variables */
:root {
    --white: #ffffff;
    --blue: #ebf5fb;
    --darkBlue: #111e49;
    --green: #4caf50;
    --lightGrey: #e8e8e8;
}

/* END: CSS Variables */

/* Utility */
.zoom-back {
    transition: transform 0.3s ease;
}

.zoom-back:hover {
    transform: scale(0.9);
}

/* Utility */

/* START: Home Top Bar */
.home-top-bar {
    background-color: var(--blue);
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.home-top-bar-right ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.home-top-bar-right ul li a {
    text-decoration: none;
    color: black;
}

/* END: Home Top Bar */

/* START: Search Section */
.nav-search-section {
    background-color: var(--white);
    padding: 8%;
    margin-left: 25%;
}

#searchBox {
    position: absolute;
    width: 32vw;
    height: 6vh;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid black;
}

.search-trending-box a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
}

#searchSection {
    display: none;
}

#searchSection.active {
    display: block;
}

#closeSearch {
    display: none;
}

#searchSection.active #closeSearch {
    display: block;
}

/* END: Search Section */

/* START: Image Crousel */
.home-slider-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

/* END: Image Crousel */

/* START: Product Selection */

.product-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.discount-box {
    padding: 5%;
    border: 5px solid black;
    width: 180px;
}

.discount-box a {
    text-decoration: none;
    color: black;
}

.discount-box a:hover {
    text-decoration: underline;
}

.middle-image,
.right-image {
    position: relative;
    overflow: hidden;
}

.middle-image img {
    width: 500px;
    height: 403px;
}

.right-image img {
    width: 300px;
    height: 403px;
}

.bottom-left {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.bottom-left a {
    text-decoration: none;
    color: inherit;
}

.bottom-left h4 {
    margin: 0;
}

.second-right-image img {
    width: 270px;
    height: 403px;
}

/* END: Product Selection */


/* START: Item Slider */
.items-slider-heading {
    text-align: center;
    color: var(--darkBlue);
}

.items-slider-heading h1 {
    font-size: 52px;
}

.item-card {
    padding: 20px;
    background-color: var(--white);
    /* width: 28%; */
    border: 2px solid var(--lightGrey);
    border-radius: 10px;
}

.item-card-image {
    position: relative;
}

.item-card-image img {
    width: 100%;
    height: auto;
}

.item-card-image span {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    background-color: var(--darkBlue);
    color: var(--white);
}

.item-card-slider {
    display: flex;
    gap: 0.5rem;
}


#nslider-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#nslider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.nslide {
    min-width: 100%;
    box-sizing: border-box;
}

.item-card-slider>div {
    transition: transform 0.3s ease;
}

.item-card-slider>div:hover {
    transform: scale(0.9);
}

/* END: Item Slider */

/* START: Help Section */
.help-section {
    margin-top: 20px;
    width: 100vw;
    height: 700px;
    background-image: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.help-description .first-heading{
    font-size: 52px;
    font-family: cursive;
    color: var(--white);
    text-shadow: 2px 2px #494646;
}

.help-description .second-heading{
    font-size: 52px;
    font-weight: 900;
    color: var(--white);
    text-shadow: 2px 2px #494646;    
}

.help-call-btn{
    margin-top: 2%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: var(--white);
    height: 35px;
  }
  .help-call-btn:hover{
    background-color: var(--lightGrey);
  }
/* END: Help Section */

/* START: items-cards-section */
.items-cards-section{
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.items-cards-section .item-card {
    padding: 20px;
    background-color: var(--white);
    width: 15%;
    border: 2px solid var(--lightGrey);
    border-radius: 10px;
}
/* END: items-cards-section */

/* START: Quality Section */
.quality-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image-container {
    flex: 1;
    max-width: 40%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.description-container {
    margin-top: 20px;
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
}

/* END: Quality Section */

/* START: Footer */
.footer-blocks{
    background-color: var(--blue);
    padding: 50px 20px;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.footer-block-one p{
    color: grey
}

.footer-block-one .footer-logo{
    color: var(--darkBlue);
}

.footer-icons{
    display: flex;
    gap: 1rem;
}

.footer-block-two a, .footer-block-three a, .footer-block-four a{
    text-decoration: none;
    color: black;
}

.footer-block-two h2, .footer-block-three h2, .footer-block-four h2{
    color: #6ec1e4;
}
.payments{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}
/* END: Footer */



/* START: Media Query */

@media (max-width: 1020px){
    .help-section {
        margin-top: 20px;
        width: 100vw;
        height: 350px;
    }

    .items-cards-section .item-card {
        width: 26%;
    }
}

@media (max-width: 786px) {
    .discount-box {
        width: 80%;
    }

    .middle-image img {
        width: 100%;
    }

    .right-image img {
        width: 100%;
    }

    .items-cards-section .item-card {
        width: 25%;
    }
    
    .help-section {
        margin-top: 20px;
        width: 100vw;
        height: 350px;
    }

    .help-section{
        position: relative;
    }

    .help-description{
        position: absolute;
        top: 30px;
    }

    .help-description .first-heading{
        font-size: 28px;
    }
    
    .help-description .second-heading{
        font-size: 28px;
    }
}

@media (max-width: 730px){
    .items-cards-section .item-card {
        width: 100%;
    }

    .quality-section {
        flex-direction: column;
    }

    .image-container,
    .description-container {
        max-width: 100%;
    }

    .home-slider-container {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
}

@media (max-width: 487px){
    .home-top-bar {
      font-size: xx-small;
    }

    .footer-blocks{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .help-section {
        margin-top: 20px;
        width: 100vw;
        height: 250px;
    }
}


/* END: Media Query */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }