* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* START: CSS Variables */
:root {
    --white: #ffffff;
    --blue: #ebf5fb;
    --darkBlue: #111e49;
    --green: #4caf50;
    --lightGrey: #e8e8e8;
}

/* END: CSS Variables */

/* Utility */
.zoom-back {
    transition: transform 0.3s ease;
}

.zoom-back:hover {
    transform: scale(0.9);
}

/* Utility */

/* START: Home Top Bar */
.home-top-bar {
    background-color: var(--blue);
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.home-top-bar-right ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.home-top-bar-right ul li a {
    text-decoration: none;
    color: black;
}

/* END: Home Top Bar */

/* START: Search Section */
.nav-search-section {
    background-color: var(--white);
    padding: 8%;
    margin-left: 25%;
}

#searchBox {
    position: absolute;
    width: 32vw;
    height: 6vh;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid black;
}

.search-trending-box a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
}

#searchSection {
    display: none;
}

#searchSection.active {
    display: block;
}

#closeSearch {
    display: none;
}

#searchSection.active #closeSearch {
    display: block;
}

/* END: Search Section */

/* START: Image Crousel */
.home-slider-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.s-wrap {
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 55%;
    position: relative;
    border: 10px solid #fff;
    background-color: #efefe8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .s-wrap > input {
    display: none;
  }
  .s-wrap .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    font-size: 0;
    list-style: none;
    transition: transform 1s;
  }
  .s-wrap .s-item {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .s-wrap .s-item-1 {
    background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
  }
  .s-wrap .s-item-2 {
    background-image: url("https://images.unsplash.com/photo-1456318019777-ccdc4d5b2396?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
  }
  .s-wrap .s-item-3 {
    background-image: url("https://images.unsplash.com/photo-1428189923803-e9801d464d76?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
  }
  .s-wrap .s-item-4 {
    background-image: url("https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
  }
  .s-wrap .s-item-5 {
    background-image: url("https://images.unsplash.com/photo-1439736637365-748f240b24fb?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800");
  }
  
  .s-type-1 .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;
  }
  .s-type-1 .s-control > label[class^="s-c-"] {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #efefe8;
    cursor: pointer;
  }
  .s-type-1 .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: #fff;
  }
  .s-type-1 .s-nav label::before {
    margin-bottom: -12px;
  }
  .s-type-1 .s-nav label.left {
    left: 20px;
  }
  .s-type-1 .s-nav label.left::before {
    transform: rotate(45deg);
  }
  .s-type-1 .s-nav label.left::after {
    transform: rotate(-45deg);
  }
  .s-type-1 .s-nav label.right {
    right: 20px;
  }
  .s-type-1 .s-nav label.right::before {
    transform: rotate(-45deg);
  }
  .s-type-1 .s-nav label.right::after {
    transform: rotate(45deg);
  }
  .s-type-1 #s-1:checked ~ .s-content {
    transform: translateX(0%);
  }
  .s-type-1 #s-1:checked ~ .s-control .s-c-1 {
    background-color: #333;
  }
  .s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
    display: block;
  }
  .s-type-1 #s-2:checked ~ .s-content {
    transform: translateX(-20%);
  }
  .s-type-1 #s-2:checked ~ .s-control .s-c-2 {
    background-color: #333;
  }
  .s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
    display: block;
  }
  .s-type-1 #s-3:checked ~ .s-content {
    transform: translateX(-40%);
  }
  .s-type-1 #s-3:checked ~ .s-control .s-c-3 {
    background-color: #333;
  }
  .s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
    display: block;
  }
  .s-type-1 #s-4:checked ~ .s-content {
    transform: translateX(-60%);
  }
  .s-type-1 #s-4:checked ~ .s-control .s-c-4 {
    background-color: #333;
  }
  .s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
    display: block;
  }
  .s-type-1 #s-5:checked ~ .s-content {
    transform: translateX(-80%);
  }
  .s-type-1 #s-5:checked ~ .s-control .s-c-5 {
    background-color: #333;
  }
  .s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
    display: block;
  }
  
  @keyframes slider-animation {
    0%,
      7% {
      transform: translateX(0%);
    }
    12.5%,
      19.5% {
      transform: translateX(-20%);
    }
    25%,
      32% {
      transform: translateX(-40%);
    }
    37.5%,
      44.5% {
      transform: translateX(-60%);
    }
    50%,
      57% {
      transform: translateX(-80%);
    }
    62.5%,
      69.5% {
      transform: translateX(-60%);
    }
    75%,
      82% {
      transform: translateX(-40%);
    }
    87.5%,
      94.5% {
      transform: translateX(-20%);
    }
  }

/* END: Image Crousel */

/* START: Product Selection */

.product-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.discount-box {
    padding: 5%;
    border: 5px solid black;
    width: 180px;
}

.discount-box a {
    text-decoration: none;
    color: black;
}

.discount-box a:hover {
    text-decoration: underline;
}

.middle-image,
.right-image {
    position: relative;
    overflow: hidden;
}

.middle-image img {
    width: 500px;
    height: 403px;
}

.right-image img {
    width: 300px;
    height: 403px;
}

.bottom-left {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.bottom-left a {
    text-decoration: none;
    color: inherit;
}

.bottom-left h4 {
    margin: 0;
}

.second-right-image img {
    width: 270px;
    height: 403px;
}

/* END: Product Selection */


/* START: Item Slider */
.items-slider-heading {
    text-align: center;
    color: var(--darkBlue);
}

.items-slider-heading h1 {
    font-size: 52px;
}

.item-card {
    padding: 20px;
    background-color: var(--white);
    /* width: 28%; */
    border: 2px solid var(--lightGrey);
    border-radius: 10px;
}

.item-card-image {
    position: relative;
}

.item-card-image img {
    width: 100%;
    height: auto;
}

.item-card-image span {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    background-color: var(--darkBlue);
    color: var(--white);
}

.item-card-slider {
    display: flex;
    gap: 0.5rem;
}


#nslider-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#nslider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.nslide {
    min-width: 100%;
    box-sizing: border-box;
}

.item-card-slider>div {
    transition: transform 0.3s ease;
}

.item-card-slider>div:hover {
    transform: scale(0.9);
}

/* END: Item Slider */

/* START: Help Section */
.help-section {
    margin-top: 20px;
    width: 100vw;
    height: 700px;
    background-image: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.help-description .first-heading{
    font-size: 52px;
    font-family: cursive;
    color: var(--white);
    text-shadow: 2px 2px #494646;
}

.help-description .second-heading{
    font-size: 52px;
    font-weight: 900;
    color: var(--white);
    text-shadow: 2px 2px #494646;    
}

.help-call-btn{
    margin-top: 2%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: var(--white);
    height: 35px;
  }
  .help-call-btn:hover{
    background-color: var(--lightGrey);
  }
/* END: Help Section */

/* START: items-cards-section */
.items-cards-section{
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.items-cards-section .item-card {
    padding: 20px;
    background-color: var(--white);
    width: 15%;
    border: 2px solid var(--lightGrey);
    border-radius: 10px;
}
/* END: items-cards-section */

/* START: Quality Section */
.quality-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image-container {
    flex: 1;
    max-width: 40%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.description-container {
    margin-top: 20px;
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
}

/* END: Quality Section */

/* START: Footer */
.footer-blocks{
    background-color: var(--blue);
    padding: 50px 20px;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.footer-block-one p{
    color: grey
}

.footer-block-one .footer-logo{
    color: var(--darkBlue);
}

.footer-icons{
    display: flex;
    gap: 1rem;
}

.footer-block-two a, .footer-block-three a, .footer-block-four a{
    text-decoration: none;
    color: black;
}

.footer-block-two h2, .footer-block-three h2, .footer-block-four h2{
    color: #6ec1e4;
}
.payments{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}
/* END: Footer */



/* START: Media Query */

@media (max-width: 1020px){
    .help-section {
        margin-top: 20px;
        width: 100vw;
        height: 350px;
    }

    .items-cards-section .item-card {
        width: 26%;
    }
}

@media (max-width: 786px) {
    .discount-box {
        width: 80%;
    }

    .middle-image img {
        width: 100%;
    }

    .right-image img {
        width: 100%;
    }

    .items-cards-section .item-card {
        width: 25%;
    }
    
    .help-section {
        margin-top: 20px;
        width: 100vw;
        height: 350px;
    }

    .help-section{
        position: relative;
    }

    .help-description{
        position: absolute;
        top: 30px;
    }

    .help-description .first-heading{
        font-size: 28px;
    }
    
    .help-description .second-heading{
        font-size: 28px;
    }
}

@media (max-width: 730px){
    .items-cards-section .item-card {
        width: 100%;
    }

    .quality-section {
        flex-direction: column;
    }

    .image-container,
    .description-container {
        max-width: 100%;
    }

    .home-slider-container {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
}

@media (max-width: 487px){
    .home-top-bar {
      font-size: xx-small;
    }

    .footer-blocks{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .help-section {
        margin-top: 20px;
        width: 100vw;
        height: 250px;
    }
}


/* END: Media Query */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }